<div class="container-fluid p-0 background-layer">
  <header class="header"> 
      <nav>
          <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12"><div class="flex-logo">
                                          <a href="#" class="logo"> <img src="assets/imgs/background/iGOT_Logo.png" alt="IGOT Logo"> </a>
                                          <span class="breaker"></span>
                                          <img src="assets/imgs/background/DopT_logo.png" alt="DopT Logo" class="Dopt"></div>
                                      </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <button type="button" class="explore-button header-button">
                      <a href="/dashboard" id="viewCoursesAnchor"><span>Explore DashBoard</span></a>
                  </button>
              </div>
          </div>
      </nav>
  </header>
  <div class="contents">
      <section class="intro-section">
          <div class="row flex-even">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="intro-content">
                      <img src="assets/imgs/background/Layer4.png" id="igot" alt="PM India" />
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="corona-warriors"> <img src="assets/imgs/background/Layer23.png"
                          alt="corona-warriors" /> </div>
              </div>
          </div>
      </section>
      <section class="breaker-section"></section>
      <section class="app-section">
          <div class="row inherit m-0">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 inherit pl-0">
                  <div class="app-data br-right inherit">
                      <div class="inline one mr-20">
                          <img src="assets/imgs/background/mobile.png" alt="Mobile Image" />
                      </div>
                      <div class="inline two">
                          <label>Android Phone</label>
                          <p>Download DIKSHA app</p>
                          <a href="https://play.google.com/store/apps/details?id=in.gov.diksha.app">
                              <img src="assets/imgs/background/playstore.png" alt="Playstore logo" />
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 inherit pr-0">
                      <div class="app-data br-left inherit">
                          <div class="inline three">
                              <img src="assets/imgs/background/laptop.png" alt="Laptop Image" />
                          </div>
                          <div class="inline four">
                              <label>PC or Laptop</label>
                              <p class="sub">(Only Chrome and Mozilla browsers)</p>
                              <p>"Basics of Covid"</p>
                              <a href="https://diksha.gov.in/learn/course/do_312993264544849920136">https://diksha.gov.in/learn/course/do_312993264544849920136</a>
                          </div>
                      </div>
              </div>
          </div>
      </section>
      <section class="breaker-section"></section>
      <section class="P1060 footer-section">
          <footer id="footer">
              <div class="footer container-fluid">
                  <div class="row text-center">
                      <div class="col-12"> <label class="en">For any query please write to:</label>
                          <p> <a href="mailto:support@i-got.freshdesk.com">support@i-got.freshdesk.com</a>
                          </p>
                      </div>
                      <div class="col-12">
                          <p class="MT5"> <a href="/igot/terms-of-use.html">Terms of Use</a>
                      </div>
                  </div>
              </div>
              <div class="container-fluid abs">
                  <div class="wrapper">
                      <div class="ones" >
                      <img src="assets/imgs/background/2.png" alt="Doctor"/></div>
                      <div class="twos"> <img src="assets/imgs/background/1.png" alt="Nurse"/></div>
                       <div class="threes"><img src="assets/imgs/background/4.png"  alt="Police"/></div>
                       <div class="fours"><img src="assets/imgs/background/3.png" alt="Lady"/></div>
                  </div>
              </div>
          </footer>
      </section>
  </div>
</div>